body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.page-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

// new section

// color settings

$sectionBgColor-1: rgb(243, 252, 255);
$imgBgColor: rgb(9, 73, 141);
$primaryColor:rgb(6, 69, 135);
$secondaryColor:rgb(234, 156, 0);
$sectionBgPrimary:rgb(9, 73, 141);
$primaryBtnColor:rgb(0, 25, 213);
$secondaryBtnColor:white;

$sectionSecondaryBg:rgb(7, 7, 98);

//nav
nav{
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  height: auto;
  padding: 18px 20px;
  font-size: 15px;
  font-weight: 500;
}

.nav-logo-brand {
  font-size: 28px;
  margin-right: 24px;
  font-weight: 600;
  width: 100%;
  color: black;
  font-family: "Work Sans", sans-serif;
}

.navLinkWrapper{
  display: none;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
}

.navLink{
  font-size: 15px;
  font-weight: 500;
  color:  rgb(49, 73, 99);
  margin: 0 16px;
}

// toast

.heroToast{
  display: flex;
  justify-content: center;
  color: rgb(54, 20, 126);
  font-size: 15px;
  padding: 18px 20px;
  background-color: rgb(221, 215, 252); 
  flex-wrap: wrap;
  text-align: center;
  line-height: 1.5;

  a{
    font-family: "Open Sans", sans-serif;
    color: #7a00cb;
    font-weight: 500;
    display: inline;
  }


}

.toast-link{
  color: $primaryBtnColor;
}

.section-hero{
  display: flex;
  flex-direction: column;
  padding: 80px 30px 100px 30px;
  column-gap: 60px;
}

.salesforceTextWrap{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h1-hero{
  font-size: 46px;
  margin: 0 15px 0 0;
}

.p-hero{
  margin-top: 24px;
  font-size: 21.5px;
  font-weight: 500;
  line-height: 1.6;
}

.p-section{
  line-height: 1.6;
  font-size: 18px;
  font-weight: 500;
  color: $primaryColor;
}

.new-hero-btn{
  margin-top: 24px;
  padding: 18px 34px;
  border: none;
  font-size: 18px;
  border-radius: 16px;
  background-color: rgb(255, 179, 0);
}

.navButton{
  padding: 11px 15px;
  border: none;
  font-size: 14.5px;
  border: none;
  background-color: rgb(0, 142, 31);
  border-radius: 5px;
  color: white;
}

.salesforce-logo{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(images/salesforce-logo.png);
  background-position: center;
  width: 100px;
  height: 55px;
}

.section-hero-img{
  width: 100%;
  height: 600px;
}

.hero-img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images/mobile-annie-spratt-QckxruozjRg-unsplash.jpg);
  background-position: center;
}

.hero-wrapper{
  display: flex;
  flex-direction: column;
}



// section

.section-content{
  display: flex;
  flex-direction: column;
  padding: 70px 30px;
  column-gap: 60px;
}

.img-settings{
  background-position: center;
  background-repeat: no-repeat;
  margin: 30px 0 40px 0;
}

.mobile-img{
  height: 278px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  margin: 0 0 30px 0;
}

.desktop-img{
  display: none;
  height: 400px;
  width: 100%;
  border-radius: 5px;
}

.new-section-title{
  font-size: 27px;
  color: rgb(0, 43, 129);
  font-weight: 600;
  line-height: 1.35;  
  text-align: flex-start;
  margin: 0 0 30px 0;
}

.section-content-wrapper{
  display: flex;
  flex-direction: column;
}

.primary-bg-1{
  background-image:linear-gradient(180deg, rgb(255, 255, 255),  rgb(255, 255, 255), rgb(244, 249, 255),rgb(244, 249, 255),rgb(244, 249, 255), rgb(205 211 214));
}


// local image

.local-bg{
  overflow: hidden;
  background-color: rgb(123, 66, 215);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 380px;
}

.local-img{
  height: 100%;
  width: 100%;
  background-image: url(./images/local.png);
  background-repeat: no-repeat;
  background-size: clamp(285px, 45vw, 410px);
  background-position: center;
}



// commitment

.commitment-bg{
  overflow: hidden;
  background-color: rgb(240, 161, 13);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 380px;
}

.commitment-img{
  height: 100%;
  width: 100%;
  background-image: url(./images/handshake.png);
  background-repeat: no-repeat;
  background-size: clamp(285px, 45vw, 410px);
  background-position: center;
}




// enterprise

.enterprise-bg{
  overflow: hidden;
  background-color: rgb(19, 36, 121);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 520px;
}

.enterprise-img{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images/windows-hNiNxhUfCfQ-unsplash\ \(1\).jpg);
  background-position: 50% 50%;
}




.section-secondary-bg{
  background-color: $sectionSecondaryBg;
}

.section-tertiary-bg{
  background-color: rgb(0, 57, 170);
}

.secondary-title-color{
  color: white;
}
.secondary-text-color{
  color: rgb(208, 208, 247);
}


// additional
.remove-top-bottom-padding{
  padding: 70px 30px 0 30px;
}
.hero-bg-fade{
  background-color: rgb(0, 71, 212);
  // background-image: linear-gradient(180deg, rgb(8, 8, 201), rgb(8, 8, 201));
  height: auto;
}



// brands
.brands-settings{
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.brand-logo-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin:0;
  padding: 0;
  width: 100%;
}

.brand-logo{
  height:110px;
  width:110px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
}

.brand-1{
  background-image: url(./images/Coles_logo.svg.png);
}
.brand-2{
  background-image: url(./images/Frog_Design_logo.svg.png);
}
.brand-3{
  background-image: url(./images/Official-Worksafe-Victoria-Logo-Small.png);
}
.brand-4{
  background-image: url(./images/salesforce-logo.png);
}




// buttons

.page-btn{
  margin-top: 15px;
  padding: 6px 9px;
  border-radius: 2px;
  letter-spacing: 0.4px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  width: fit-content;
} 

.primary-btn-color{
  border: 1.5px solid $primaryBtnColor;
  background-color: transparent;
  color:  $primaryBtnColor;
}
.secondary-btn-color{
  border: 1px solid $secondaryBtnColor;
  background-color: transparent;
  color: $secondaryBtnColor;
}







// footer

footer {
    background-color: #ebecee; 
    padding: 28px 30px;
    border-top: 1px solid rgb(214, 214, 214);
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
}

.footer-logo{
  font-size: 22px;
  font-weight: 600;
  color: #78819dd3;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 5px;

  span{
    font-size: 9px;
    margin-bottom: -5px;
  }
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 13px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #5e6a8d;
  font-size: 13px;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #0d2f51; /* Hover color similar to Atlassian */
}








@media (min-width: 1050px) {
  


// nav

nav{
  height: auto;
  padding: 12px 140px;
}

.nav-logo-brand {
  width: auto;
  margin-right: 0;
}

.navLinkWrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;

  .navLink{
    margin-right: 15px;
  }
}


// hero
.hero-wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 580px;
}

.section-hero{
  padding: 70px 70px;
}
.section-hero-img{
  height: 100%;
}

.h1-hero{
  font-size: 44px;
  font-weight: 600;
  margin: 0 15px 0 0;
}

.p-hero{
  margin-top: 24px;
  font-size: 20px;
  line-height: 1.4;
}

.new-hero-btn{
  font-size: 14px;
  font-weight: 600;
  color: $imgBgColor;
  margin-top: 18px;
  padding: 14px 30px;
}


// content section
.section-content{
  display: flex;
  flex-direction: row;
  padding: 70px 180px;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-content-wrapper{
  display: flex;
  flex-direction: column;
  width: 66.7%;
}

.mobile-img{
  display: none;
}
.desktop-img{
  display: block;
  margin: 0;
}


// fonts

.new-section-title{
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  line-height: 1.35;  
  text-align: flex-start;
}

.p-section{
  font-size: 15px;
  line-height: 1.6;
  font-weight: 500;
}

.secondary-title-color{
  color: white;
}


// brands
.brands-settings{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.brand-logo{
  height:65px;
  width:85px;
}


// footer

footer {
  padding: 14px 30px 28px 30px;
}

.footer-content {
  flex-direction: row;
  text-align: left;
}

.footer-links ul {
  display: flex;
  flex-direction: row;
}

.footer-links ul li {
  margin-bottom: 0;
  margin-left: 20px;
}

// commitment

.commitment-bg, .local-bg{
  padding: 35px;
  min-height: 350px;
  height: 350px;
  width: 60%;
}
// enterprise
.enterprise-bg{
  min-height: 480px;
}
.enterprise-img{
  background-size: cover;
  background-position: 80% 65%;
}

// toast
.heroToast{
  font-size: 14.5px;
  font-weight: 500;
  padding: 18px 20px;
}

}
